/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efece8;;
    font-family: 'Lora', 'Libre Baskerville', sans-serif;
    color: #555;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    margin: 20px auto;
}

section {
    display: block;
    padding: 80px 0;
}


/*
Header
*/

header {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    margin: 0;
}

.header-video {
    overflow: hidden;
    height: 100%;
}

.repo_option_title {
    color: #4e4e4e;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: 600;
    font-size: 60%;
}
.repo_option {
    border-radius: 80px;
    padding: 15px 20px;
    font-size: 80%;
    border: 1px solid #e1e1e1;
    display: inline-block;
    margin-bottom: 10px;
}

.app-intro-text {
    font-size: 4rem;
    font-weight: 500;
    top: 40%;
    left: 25%;
    position: absolute;
}

.app-intro-text span {
    display: none;
}


/* Buttons */
button {
  display: block;
  height:60px;
  width:120px;
  border-radius: 6px;
  background-color: #06f;
  font-weight: 600;
  border:none;
  font-size:40px;
  color:#f5f5f5;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #36f;
}

/* Navigation/upper website 'bar' */

.sticky {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px #efefef;
    height:100px;
    z-index: 9999;
    background-color: #000000;
    font-weight: 300;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;

}

/* Intro section */

.intro-section {
    margin-top: -140px;
    text-align: center;
    position: relative;
    font-family: 'Lato';
    font-weight: 400;
    color: black;
}

.intro-section .section-header {
    margin-bottom: 40px;
}

.intro-section .section-header, .graph-section .section-header {
    font-size: 30px;  color: black;
    letter-spacing: 0.5px;
}

.intro-section .paragraph-container {
    display: block;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    width: 55%;
}


/* Graph rendering/data rendering section */

.graph-section {
    font-family: 'Lato';
    background-color: #fff;
    color: black;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

*:focus {outline: none;}



#result {

    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    max-height: 600px;
    
    background: white;
    margin: 10vh auto;


    border-radius: 18px;
    padding: 20px;
   display: none;
   flex-direction: column;
   justify-content: flex-start;

   -webkit-box-shadow: 0px 0px 82px -19px rgba(0,0,0,0.73);
-moz-box-shadow: 0px 0px 82px -19px rgba(0,0,0,0.73);
box-shadow: 0px 0px 82px -19px rgba(0,0,0,0.73);

}

.close_button {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #e1e1e1;
    right: 10px;
    top: 10px;
    color: black;
    font-family: 'Lato', sans-serif;
}
#result.visible {
    display: flex;
}

#result_number {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 400%;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.result_label {
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 80%;

}
.result_links {
    margin-top: auto;
}

.result_explain_link {
    width: 100%;
    border-radius: 12px;
    background: transparent;
    font-family: 'Lato', sans-serif;
    color: #06f;
    text-align: CENTER;
    PADDING: 15PX;
    BORDER: 1PX SOLID #E1E1E1;
    MARGIN-BOTTOM: 8PX;
    
}
.result_close_button {
    width: 100%;
    border-radius: 12px;
    background: #e1e1e1;
    font-family: 'Lato', sans-serif;
    color: rgb(65, 64, 64);
}

/*

#result {

    display: none;
    width: 100%;
    background: #3c3;

    border-radius: 8px;
    padding: 20px;
   display: none;
   justify-content: center;
}

#result.visible {
    display: flex;
}
*/

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 2px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 70%;
    color: #06f;
}