/* ---------------------------------------------------- */


/* BASIC SETUP */


/* ---------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efece8;
    ;
    font-family: 'Lora', 'Libre Baskerville', sans-serif;
    color: #555;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    margin: 30px auto;
}

section {
    padding: 80px 0;
}


/*
Header
*/

header {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    margin: 0;
}

.header-video {
    overflow: hidden;
    height: 100%;
}

.app-intro-text {
    font-size: 4rem;
    font-weight: 500;
    top: 40%;
    left: 25%;
    position: absolute;
}

.app-intro-text span {
    display: none;
}


/* Buttons */

button {
    display: block;
    height: 60px;
    width: 120px;
    border-radius: 4px;
    background-color: darkcyan;
    border: none;
    font-size: 40px;
    color: #f5f5f5;
    transition-duration: 0.2s;
}

button:hover {
    background-color: cadetblue;
}


/* Navigation/upper website 'bar' */

.sticky {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px #efefef;
    height: 100px;
    z-index: 9999;
    background-color: #000000;
    font-weight: 300;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* Intro section */

.intro-section {
    text-align: center;
    display: block;
    position: relative;
    margin-top: -170px;
    font-family: 'Lato';
    font-weight: 400;
    color: black;
}

.intro-section .section-header {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
}

.intro-section .paragraph-container {
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    font-size: 20px;
    width: 55%;
    top: 60%;
    left: 22%;
}